.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.folder .folder-title {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 100px;
  margin: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.cdnfonts.com/css/goldie-boxing');
@import url('https://fonts.cdnfonts.com/css/komika-display');

@font-face {
  font-family: 'Gabriola';
  font-style: normal;
  font-weight: normal;
  src: local('Gabriola'), url('fonts/Gabriola.woff') format('woff');
}

@font-face {
  font-family: 'Indiana-Jonas';
  src:url('fonts/Indiana-Jonas.ttf.woff') format('woff'),
      url('fonts/Indiana-Jonas.ttf.svg#Indiana-Jonas') format('svg'),
      url('fonts/Indiana-Jonas.ttf.eot'),
      url('fonts/Indiana-Jonas.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	background-image: url(./images/9.jpg);
	background-size: cover;
	background-position: center 30%;
	background-repeat: no-repeat;
}

body.animate {
  background-size: calc(70vmin + 70vmax);
}

body.zoom {
	animation: zoomBg 2s;
}

html,
body {
	height: 100%;
	margin: 0;
  overflow: hidden;
}

.book {
	transform-style: preserve-3d;
	background-color: #FFF;
	transition: transform 2s, opacity 2s, filter 2s, box-shadow 2s, margin 2s, width 2s, height 2s;
  /* margin-left: 15%; */
  /* margin-top: 15%; */
}

.book.hover {
	box-shadow: 0px 7px 20px #0005;
	opacity: 1;
	filter: none;
}

.sticker {
	background-color: #FFF;
	box-shadow: 0 6px 16px -6px #000;
  /* border-radius: 20px; */
	display: inline-block;
	/* margin: .5vmin; */
  /* border-radius: 2vmin; */
	overflow: hidden;
	position: relative;
	background-size: 100%;
	background-position: center;
	transition: transform 1s, top .5s, left .5s, width .5s, height .5s, opacity .5s;
	z-index: 2;
	background-repeat: no-repeat;
  filter: grayscale(100%);
  opacity: 0.5;
}

.sticker.valid {
  filter: none;
  opacity: 1;
}

.book .sticker:hover {
	transform: scale(1.05) rotate(1deg);
	z-index: 3;
  opacity:1;
}
.book .sticker:nth-child(odd):hover {
	transform: scale(1.05) rotate(-1deg);
	z-index: 3;
}

.sticker .note {
	border: 3px solid #000;
	background-color: #FFF;
	transform: skewX(15deg);
	position: absolute;
	padding: 3px 10px;
	font-family: 'Komika Display', cursive;
}

.sticker .note.bottom-left {
	left: -7px;
	bottom: -3px;
}

.sticker .note.top-right {
	right: -7px;
	top: -3px;
}

.sticker .note.bottom-left {
  bottom: -3px;
  left: -7px;
}

.book .bb-item {
	display: flex;
	justify-content: center;
}

.book .content.moving {
	transform-origin: left;
	transform: rotateY(-178deg);
}

.book .content {
	float: left;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	width: 50%;
	height: 100%;
	box-shadow: 10px 0 20px -10px #0007 inset;
	background-color: #FFF;
}

.book .content:nth-child(2n+1) {
	box-shadow: -10px 0 20px -10px #0007 inset;
}

.book .content.left {
	transform-origin: right;
	transform: rotateY(15deg);
}

.book .content.right {
	transform-origin: left;
	transform: rotateY(-15deg);
}

@keyframes zoomBg {
	from {
		background-size: 80%;
	}
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.loading-screen {
  width: 100%;
  height: 100%;
  background-color: #0007;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #0007, #0007), url(./images/6.jpg);
  background-size: cover;
	background-position: center 30%;
	background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading-screen .loader {
  width: 10vmin;
}

.store,
.farm,
.citizens {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EAEAEA;
  clip-path: circle(0% at 96% 6%);
  z-index: 3;
  display: none;
  transition: clip-path 750ms, left 500ms, right 500ms;
  text-align: center;
  background-image: linear-gradient(0deg, #EAEAEACC, #3bafdaa0), url(images/7.jpg);
  background-size: cover;
  background-position: center;
}

.farm {
  background-image: linear-gradient(0deg, #EAEAEACC, #3bafdaa0), url(images/8.jpg);
  clip-path: circle(0% at 96% 125px);
}

.citizens {
  background-image: linear-gradient(0deg, #EAEAEACC, #3bafdaa0), url(images/icons/citizens.png);
  clip-path: circle(0% at 96% 200px);
}

.store .title,
.farm .title {
  font-family: 'Lobster', cursive;
  margin: 10vmin 0;
  font-size: 7vmin;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  text-shadow: 0 2px 6px #0008;
  width: 100%;
  transition: width .5s;
  z-index: 1;
}

.store.show,
.farm.show,
.citizens.show {
  clip-path: circle(150% at 96% 6%);
  display: block;
}

.farm.show {
  clip-path: circle(150% at 96% 125px);
}

.citizens.show {
  clip-path: circle(150% at 96% 200px);
}

.store .items,
.farm .pools {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .5s;
  perspective: 200vmin;
  overflow: hidden;
  white-space: nowrap;
}

.farm .pools .pool {
  border-radius: 3vmin;
  margin: 15pc 3vmin;
  width: 35vmin;
  box-shadow: 0 1vmin 7vmin #0003;
  background-color: #FFF;
  padding: 1vmin;
  /* height: 45vmin; */
  display: inline-block;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.farm .pools .pool:hover {
  box-shadow: 0 1vmin 7vmin #0003, 0 0 0 .3vmin #d0f3ff inset;
}

.farm .pools .pool .dual-icon,
.farm .pools .pool>.icon {
  position: absolute;
  top: -2.5vmin;
  left: -2.5vmin;
}

.farm .pools .pool .icon {
  border-radius: 100vmin;
  width: 7vmin;
  height: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 .3vw .5vw #0003;
}

.farm .pools .pool .icon span {
  width: 6vmin;
  height: 6vmin;
}

.farm .pools .pool .dual-icon .icon {
  position: absolute;
  top: -2vmin;
  left: 2vmin;
}

.farm .pools .pool .dual-icon .icon:nth-child(2n+1) {
  position: absolute;
  top: 2vmin;
  left: -2vmin;
}

.farm .pools .pool .btn {
  color: #3bafda;
  box-shadow: none;
  background-color: #FFF;
  font-size: 1.5vmin;
  width: 10vmin;
  height: unset;
  display: inline-block;
  border: .3vmin solid #d0f3ff;
  margin: 1vmin auto;
  padding: 1vmin;
  border-radius: 2vmin;
}

.farm .pools .pool .btn:hover {
  background-color: #f0fbff;
}

.farm .pools .pool .btn.green {
  background-color: #48cfad;
  border-color: #48cfad;
  color: #FFF;
}

.farm .pools .pool .btn.green:hover {
  background-color: #5cddbd;
  border-color: #5cddbd;
}

.farm .pools .pool .btn:disabled {
  background-color: #EEE;
  border-color: #EEE;
  color: #444;
  cursor: not-allowed;
}

.store .items .item {
  background-image: url(images/prod_example.png);
  background-size: contain;
  border-radius: 3vmin;
  margin: 15pc 3vmin;
  width: 28vmin;
  transition: all 1s;
  overflow: hidden;
  background-repeat: no-repeat;
  box-shadow: 0 1vmin 7vmin #0003;
  transform: rotateX(20deg);
  display: inline-block;
  position: relative;
  top: 0;
}

.store .items .item.linked {
  margin: 15pc -5vmin;
  transform: rotateY(20deg);
}

.store .items .item:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 3vmin 15vmin #70d7c4;
  top: -1vmin;
}

.store .items .item .image-square {
  height: 20vmin;
  position: relative;
  overflow: hidden;
  transition: height 1s;
  background-repeat: no-repeat;
}

.store .items .item:hover .image-square {
  height: 12vmin;
}

.store .items .item .image-square:hover {
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store .items .item .image-square::after {
  content: '';
  border-radius: 100px;
  padding: 3vmin;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: -3vmin 3vmin #FFF;
}

.store .items .item .name,
.farm .pools .pool .name {
  font-size: 2.5vmin;
  color: #BBB;
  font-family: 'Cuprum', sans-serif;
  line-height: 3vmin;
  margin: 0 0 2vmin 0;
  padding-bottom: 1.5vmin;
  border-bottom: 1px solid #E5E5E5;
}

.farm .pools .pool .name {
  font-family: 'Goldie Boxing', sans-serif;
  color: #666;
  border: none;
  padding: 2vmin 0 0;
  font-size: 4vmin;
}

.farm .pools .pool .data {
  color: #999;
  padding: 1.5vmin;
  font-size: 1.75vmin;
  display: flex;
  justify-content: space-between;
  margin: 0 2vmin;
}

.farm .pools .pool .data:not(:last-child) {
  border-bottom: 1px solid #EEE;
}

.farm .pools .pool .data .value {
  /* float: right; */
  color: #CC9966;
}

.store .items .item .desc {
  font-size: 1.5vmin;
  line-height: 2vmin;
  margin: 0 0 1vmin;
  overflow: hidden;
  transition: height 1s;
  height: 0;
  font-family: 'Cuprum', sans-serif;
}

.store .items .item:hover .image-square:not(:hover) + .details .desc {
  height: 8vmin;
}

.store .items .item .buy {
  color: #9EECB6;
  box-shadow: 0 0 0 .2vmin #9EECB6;
  border-radius: 3vmin;
  padding: 1vmin;
  font-size: 1.5vmin;
  box-sizing: border-box;
  font-family: 'Komika Display', sans-serif;
}

.store .items .item:hover .buy {
  color: #FFF;
  background-image: linear-gradient(-90deg, #9EECB6, #6ddbc0);
  box-shadow: 0 0 0 .2vmin transparent;
}

.store .items .item .details {
  background-color: #FFF;
  border-radius: 0 3vmin 0 0;
  padding: 3.5vmin 4vmin;
  transition: padding 1s;
  box-shadow: 0 0 100px #FFF;
}

.tooltip {
  background-color: #0008;
  color: #FFF;
  border-radius: 5px;
  padding: 3px 10px;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  z-index: 3;
  position: fixed;
  display: none;
  white-space: nowrap;
}

.tooltip::before {
  border: 5px solid transparent;
  border-left-color: #0008;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 6px;
  right: -10px;
  margin: 0 auto;
  content: '';
}

.arrow-btn {
  background-image: url(images/icons/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 3pc;
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 0;
  z-index: 5;
  cursor: pointer;
  transition: left 1s ease-out, right 1s ease-out;
  transform: translate3d(0,0,500px);
  -webkit-transform: translate3d(0,0,500px);
}

.arrow-btn.left {
  transform: scale(-1) translate3d(0,0,500px);
  -webkit-transform: scale(-1) translate3d(0,0,500px);
  right: auto;
  left: 0;
}

.btn {
  padding: .7pc;
  font-size: 1pc;
  border: none;
  margin: 0 1em;
  color: #FFF;
  font-family: 'Komika Display', sans-serif;
  box-shadow: 0 0 0 .3vmin #FFF;
  background-color: transparent;
  width: 8pc;
  height: 2.5pc;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.btn.success {
  background-color: #00CC66;
  box-shadow: 0 0 0 .3vmin #00CC66;
}

.btn.white {
  box-shadow: 0 3px 5px #0004;
  color: #555;
  width: unset;
  height: unset;
  padding: 1pc 1.5pc;
  background-color: #FFF;
}

.btn:disabled {
  opacity: 0.8;
}

.folder {
  margin: 2vmin;
}

.folder .folder-title {
  background-color: #FFF5;
  color: #FFF;
  font-size: 25px;
  padding: 1vmin 2vmin;
  position: relative;
  border-radius: 100px;
}

.folder .folder-title::after {
  content: '+';
  position: absolute;
  right: 2vmin;
  top: 0;
  bottom: 0;
  color: #FFF;
  font-size: 3vmin;
  display: flex;
  align-items: center;
}

.folder.expand .folder-title::after {
  content: '-';
}

.folder .folder-content {
  padding: 0 25px;
  background: none;
  color: #FFF;
  box-shadow: none;
  float: unset;
  height: 0;
  transition: height .5s;
  overflow: hidden;
}

.folder.expand .folder-content {
  height: 15vmin;
}

.market-button,
.farm-button,
.citizens-button {
  position: absolute;
  right: 1%;
  top: 25px;
  z-index: 2;
  background-color: #ce9d21;
  padding: 5px;
  height: 60px;
  width: 60px;
  box-shadow: 0 3px 10px #0005;
  border-radius: 100px;
}

.farm-button {
  top: 100px;
  background-color: #333;
}

.citizens-button {
  top: unset;
  top: 175px;
  background-image: url(./images/icons/citizens.png);
  background-size: cover;
}

.ticket-icon,
.farm-icon,
.custom-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

.custom-icon {
  background-size: cover;
}

.farm-icon {
  background-image: url(./images/icons/verse-big.png);
  background-size: cover;
}

.ticket-icon::after {
  content: '';
  background-image: url(images/icons/ticket.png);
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all 500ms;
  transform-origin: 70% 40%;
  left: 0;
}

.ticket-icon::before {
  content: '';
  background-image: url(images/icons/ticket2.png);
  width: 50px;
  height: 50px;
  top: 3px;
  left: 3px;
  position: absolute;
  transition: all 500ms;
  transform-origin: 70% 40%;
}

.ticket-icon:hover::before {
  transform: rotate(20deg);
}

.ticket-icon:hover::after {
  transform: rotate(-20deg);
}

.back-icon {
  background-image: url(images/icons/back_btn.png);
  width: 40px;
  height: 50px;
  background-size: 120px 50px;
}

.metamask-icon {
  display: inline-block;
  background-image: url(./images/icons/metamask.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  margin: 0 auto;
}

.token-icon {
  background-image: url(./images/icons/verse-small.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.back-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
  color: #FFF;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
  transition: transform .5s;
  z-index: 2;
}

.back-button:hover {
  transform: scale(1.1);
}

.back-button:hover .back-icon {
  animation: backButton 200ms steps(3) infinite;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 1.2pc;
  display: inline-block;
}

.loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 1vmin;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #FFF;
  stroke-linecap: round;
}

.credit {
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-family: 'Cuprum', sans-serif;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 899, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes backButton {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -120px 0;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,800);


html, body, #root { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
		margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  background-color: #8efbdf;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
}

.wrapper-table{
  display: table;
  width: 100%;
  height: 100%;
}

.wrapper-vertical{
  display: table-cell;
  vertical-align: middle;
}
.wrapper-horizontal{
  /* min-width: 1000px; */
  width: 40%;
  margin: auto;
  position: relative;
}
.wrapper-square {
  display: inline-block;
  position: relative;
  width: 100%;
	perspective: 300vmin;
  /* max-width: 500px; */
}
.wrapper-square-dummy {
  margin-top: 100%;
}

.hidden {
  display:none;
}
.bk-book {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s, margin .5s;
	-moz-transition: -moz-transform .5s, margin .5s;
	transition: transform .5s, margin .5s;
}

.bk-book > div,
.bk-front > div {
	display: block;
	position: absolute;
}

.bk-front {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s, box-shadow 1s;
	-moz-transition: -moz-transform .5s, box-shadow 1s;
	transition: transform .5s, box-shadow 1s;
	-webkit-transform: translate3d(0,0,20px);
	-moz-transform: translate3d(0,0,20px);
	transform: translate3d(0,0,20px);
	z-index: 10;
	box-shadow: 0px 0px 20px #0007;
}

.bk-front > div {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-page {
	-webkit-transform: translate3d(0,0,19px);
	-moz-transform: translate3d(0,0,19px);
	transform: translate3d(0,0,19px);
	display: none;
	width: 100%;
	height: 100%;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
	transition: box-shadow 1s, overflow .5s;
	box-shadow: 0px 0px 20px #0007;
}
.bk-page > div{
  margin-left: -100%;
}

.bk-front,
.bk-back,
.bk-front > div {
	width: 100%;
	height: 100%;
}

.bk-left,
.bk-right {
	width: 40px;
	left: -20px;
}

.bk-top,
.bk-bottom {
	width: 495px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	-moz-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
}

.bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
  overflow: hidden;
}

.bk-cover {
	background-image: linear-gradient(0deg, #000, transparent), url(images/5.jpg);
	background-size: cover;
  padding: 3vh;
  display: flex !important;
  justify-content:space-between;
  flex-direction: column;
}

.bk-cover .options {
  justify-content: center;
  align-items: center;
  display: flex;
}

.bk-cover .btn {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  /* width: 100%; */
  /* height: unset; */
  padding: 4vh;
  background-color: #FFF;
  color: #000;
}
.bk-cover .btn .metamask-icon {
  margin: 0;
}

.bk-right {
	height: 390px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-left {
	height: 100%;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	-moz-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}

.bk-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	-moz-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.bk-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	-moz-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-viewinside {
  margin-left: 50%;
}

.bk-bookdefault {
	margin-left: 50%;
  /* width: 130%; */
  /* height: 130%; */
  /* margin-top: -10%; */
  /* width: 120%; */
  /* height: 120%; */
}

.bk-viewinside .bk-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-180deg);
	-moz-transform: translate3d(0,0,20px) rotate3d(0,1,0,-180deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-180deg);
}

.bk-book.bk-viewinside {
	-webkit-transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,200px) rotate3d(0,1,0,0deg);
}

.bk-book.bk-viewback {
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	-moz-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

.bk-viewback .bk-back {
	z-index: 10;
}

/* Main colors and content */

.bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 0px;
}
.bk-cover:after,
.bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,0.06);
}

.bk-back:after {
	left: auto;
	right: 10px;
}

/* Individual style */

.bk-book .bk-front > div,
.bk-book .bk-back,
.bk-book .bk-left,
.bk-book .bk-front:after {
	background-color: #241F20;
}

.bk-book .bk-cover{
  width:100%;
  height:100%;
  overflow: hidden;
  cursor: default;
}
.bk-book .bk-cover .color-container{
  position:absolute;
  width:100%;
  height:10%;
  bottom:0;
  left:0;
  -webkit-transition: top 0.5s, bottom 0.5s;
  -moz-transition: top 0.5s, bottom 0.5s;
  transition: top 0.5s, bottom 0.5s;
  cursor: pointer;
}
.bk-book .bk-cover .color-container.before{
  top:0;
}
.bk-book .bk-cover .color-container.hidden{
  bottom: -10%;
  display:block;
}
.bk-book .bk-cover .color-container.before.hidden{
  top: -10%;
  display:block;
}
.bk-book .bk-cover .color-square{
  width: 10%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.bk-book .bk-cover .bk-title{
  display: table-cell;
  vertical-align:middle;
  color: #fff;
  text-transform: uppercase;
}
.bk-book .bk-cover .bk-title div{
  display:block;
  width: 343px;
  margin:auto;
}
.bk-book .bk-cover .bk-title h1{
  font: 800 4em "open sans";
  line-height: 1em;
}
.bk-book .bk-cover .bk-title h2{
  text-align: right;
  font: 800 1em "open sans";
}
.bk-book .bk-cover .bk-title h2.before{
  text-align: left;
  margin-left: 3px;
  line-height: 1em;
}
.highlight{
  color: #ED5565;
}

.bk-book .bk-cover h3{
  position: absolute;
  bottom: 15%;
  left: 0;
  text-align: center;
  width: 100%;
  font: 800 0.7em "open sans";
  color: #fff;
  text-transform: uppercase;
}

.bk-book .bk-content p {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.bk-book .bk-left h2 {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
}

.bk-book .bk-back{
  display: table;
  overflow: hidden;
}

.bk-book .bk-back p {
	color: #fff;
	font-size: 0.9em;
	padding: 40px;
	text-align: center;
	font-weight: 700;
  position: absolute;
  width: 100%;
}

.bk-book .bk-back h1{
  font: 800 8em "open sans";
  text-align: center;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.bk-book .bk-page .color-square,
.bk-book .bk-cover-back .color-square{  
  display: table;
  width: 50%;
  height: 100%;
  float: left;
  font: 800 8em "open sans";
  text-align: center;
  color: #333;
}

.bk-book .bk-page .color-square span,
.bk-book .bk-cover-back .color-square span{
  display: table-cell;
  vertical-align: middle;
}

/* Colors */

.background-color-ED5565{ background-color: #ED5565 }
.color-ED5565{ color: #ED5565 }
.background-color-DA4453{ background-color: #DA4453 }
.color-DA4453{ color: #DA4453 }
.background-color-FC6E51{ background-color: #FC6E51 }
.color-FC6E51{ color: #FC6E51 }
.background-color-E9573F{ background-color: #E9573F }
.color-E9573F{ color: #E9573F }
.background-color-FFCE54{ background-color: #FFCE54 }
.color-FFCE54{ color: #FFCE54 }
.background-color-FCBB42{ background-color: #FCBB42 }
.color-FCBB42{ color: #FCBB42 }
.background-color-A0D468{ background-color: #A0D468 }
.color-A0D468{ color: #A0D468 }
.background-color-8CC152{ background-color: #8CC152 }
.color-8CC152{ color: #8CC152 }
.background-color-48CFAD{ background-color: #48CFAD }
.color-48CFAD{ color: #48CFAD }
.background-color-37BC9B{ background-color: #37BC9B }
.color-37BC9B{ color: #37BC9B }
.background-color-4FC1E9{ background-color: #4FC1E9 }
.color-4FC1E9{ color: #4FC1E9 }
.background-color-3BAFDA{ background-color: #3BAFDA }
.color-3BAFDA{ color: #3BAFDA }
.background-color-5D9CEC{ background-color: #5D9CEC }
.color-5D9CEC{ color: #5D9CEC }
.background-color-4A89DC{ background-color: #4A89DC }
.color-4A89DC{ color: #4A89DC }
.background-color-AC92EC{ background-color: #AC92EC }
.color-AC92EC{ color: #AC92EC }
.background-color-967ADC{ background-color: #967ADC }
.color-967ADC{ color: #967ADC }
.background-color-EC87C0{ background-color: #EC87C0 }
.color-EC87C0{ color: #EC87C0 }
.background-color-D770AD{ background-color: #D770AD }
.color-D770AD{ color: #D770AD }
.background-color-AAB2BD{ background-color: #AAB2BD }
.color-AAB2BD{ color: #AAB2BD }
.background-color-656D78{ background-color: #656D78 }
.color-656D78{ color: #656D78 }

/* Fallbacks */

.no-csstransforms3d .bk-book > div,
.no-csstransforms3d .bk-book .bk-cover-back {
	display: none;
}

.no-csstransforms3d .bk-book > div.bk-front {
	display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
	display: none;
}

@media (max-width: 700px) { 
  body{
    font-size: 50%;
  }
  
  .bk-book .bk-cover .bk-title div {
    width: 184px;
  }
}

@media (max-width: 430px) { 
  body{
    font-size: 35%;
  }
  
  .bk-book .bk-cover .bk-title div {
    width: 128px;
  }
}

.bb-bookblock {
  width: 200%;
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  position: relative;
  z-index: 100;
  -webkit-perspective: 150vmin;
  -moz-perspective: 150vmin;
  perspective: 150vmin;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-page {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

.bb-vertical .bb-page {
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}

.bb-horizontal .bb-page {
  width: 100%;
  height: 50%;
  top: 50%;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.bb-page > div,
.bb-outer,
.bb-content,
.bb-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.bb-outer {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-vertical .bb-content {
  width: 200%;
}

.bb-horizontal .bb-content {
  height: 200%;
}

.bb-page > div {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bb-page > div:not(:only-child) {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-vertical .bb-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bb-horizontal .bb-back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.bb-outer {
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.bb-overlay, 
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

/* */

.bb-bookblock.bb-vertical > div.bb-page:first-child,
.bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.bb-bookblock.bb-horizontal > div.bb-page:first-child,
.bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* Content display */
.bb-vertical .bb-front .bb-content {
  left: -100%;
}

.bb-horizontal .bb-front .bb-content {
  top: -100%;
}

/* Flipping classes */
.bb-vertical .bb-flip-next,
.bb-vertical .bb-flip-initial {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bb-vertical .bb-flip-prev {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.bb-horizontal .bb-flip-next,
.bb-horizontal .bb-flip-initial {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.bb-horizontal .bb-flip-prev {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.bb-vertical .bb-flip-next-end {
  -webkit-transform: rotateY(-15deg);
  -moz-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

.bb-vertical .bb-flip-prev-end {
  -webkit-transform: rotateY(-165deg);
  -moz-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
}

.bb-horizontal .bb-flip-next-end {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

.bb-horizontal .bb-flip-prev-end {
  -webkit-transform: rotateX(165deg);
  -moz-transform: rotateX(165deg);
  transform: rotateX(165deg);
}

.bb-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* No JS */
.no-js .bb-bookblock, 
.no-js ul.bb-custom-grid li {
  width: auto;
  height: auto;
}

.no-js .bb-item {
  display: block;
  position: relative;
}

.wrapper-square-element:not(.hover) .bk-front,
.wrapper-square-element:not(.hover) .bk-page {
	box-shadow: -1vmin 1vmin 3vmin -1vmin #000, -.5vmin 2vmin 0 -.5vmin #fff, -1vmin 4vmin 3vmin -2vmin #000, -1vmin 4vmin 0 -1vmin #fff, -1.5vmin 6vmin 0 -1.5vmin #000;
}

.wrapper-square-element {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0.6) rotateX(50deg);
	filter: blur(0px);
	opacity: 0.7;
	transition: transform 2.5s, filter 2.5s, opacity 2.5s;
	animation: flying 2s infinite alternate-reverse;
}

.wrapper-square-element:not(.hover) .bb-item {
	pointer-events: none;
}

.wrapper-square-element.hover {
	transform: scale(1) rotateX(0deg);
	filter: blur(0px);
	opacity: 1;
	animation: none;
  /* width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%; */
}

@keyframes flying {
	to {
		bottom: 2%;
		top: -2%;
	}
}

@keyframes bookFlyingShadow {
	to {
		box-shadow: -10px 12px 20px -10px #000, -6px 20px 0px -4px #fff, -5px 30px 20px -15px #000, -10px 40px 0px -8px #fff, -13px 62px 0px -13px #000,  -37px 165px 20px -36px #0006;
	}
}

@keyframes floating {
  0% {
    bottom: 1%;
    top: -1%;
    opacity: 0.7;
  }
  50% {
    bottom: 0;
    top: 0;
    opacity: 1;
  }
  100% {
    bottom: 1%;
    top: -1%;
    opacity: 0.7;
  }
}