body {
    background-image: url(./images/bg.jpg);
    background-position: 0 20%;
    animation: none;
}

.social-icons .icon {
    color: #FFF;
    text-shadow: 0 .2pc #0005;
    font-size: 5vmin;
    padding: 5pt;
    display: inline-block;
}

.social-icons .icon a {
    background: none;
    color: #FFF;
}

.landing,
.documents {
    width: 100%;
    height: 100%;
    background-color: #0007;
    position: absolute;
    text-align: center;
}

.documents {
    background-color: #32373e;
    display: none;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1s, transform .5s;
    z-index: 9;
    background-image: linear-gradient(#4c96b1b5, #967adcd9) ,url(./images/documents_bg.jpg);
    background-size: cover;
    background-position: center;
}

.documents.show {
    clip-path: circle(80% at 50% 50%);
}

.documents .title {
    margin: 7vmin auto;
    font-size: 10vmin;
    width: 100%;
    text-align: center;
    font-family: 'Goldie Boxing', sans-serif;
    color: #78cdeb;
    transition: transform 1s, filter 1s, opacity 1s;
    animation: floatingText 5s infinite linear;
}

.documents .content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 60vh;
}

.documents .content p {
    width: 100%;
    color: #CCC;
    text-align: left;
    font-family: 'Goldie Boxing', sans-serif;
    font-size: 4vmin;
    padding: 1vmin 15vmin;
    transform: scale(3);
    filter: blur(1vmin);
    opacity: 0;
    transition: transform 1s, filter 1s, opacity 1s;
}

.documents.show .content p {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.landing .title {
    font-size: calc(8vmin + 8vmax);
    width: 100%;
    text-align: center;
    margin: 5vmin auto 5vmin auto;
    font-family: 'Indiana-Jonas', sans-serif;
    color: #FFF;
    position: relative;
}

.images > div {
    margin: auto -8vmin;
    display: inline-block;
    border-radius: 20px;
    transition: background-size 2s, transform 2s, margin 2s;
    position: relative;
}

.images > div.active {
    margin: auto -5vmin;
}

.images > div > div {
    width: 25vmin;
    height: 35vmin;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.images {
    margin-top: 7vmin;
    position: relative
}

.images::before {
    content: '';
    position: absolute;
    background-color: #0005; 
    border-radius: 100%;
    width: 50%;
    left: 25%;
    bottom: 0;
    height: 10%;
}

.btn {
    font-size: 20px;
    height: 50px;
    width: 150px;
}

.line {
    background-color: #FFF7;
    margin: 0 auto;
    height: .1vmin;
    width: 100%;
}

.landing .content {
    width: 100%;
    margin: 2vmin auto;
    text-align: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #FFF;
    border-radius: 5vmin;
    padding: 32px;
}

@keyframes floatingText {
    0% {
        transform: scale(1.02) rotate(2deg);
    }
    30% {
        transform: scale(0.98) rotate(-2deg);
    }
    60% {
        transform: scale(1) rotate(2deg);
    }
    100% {
        transform: scale(1.02) rotate(2deg);
    }
}